html,
body {
    height: 100%
}

html {
    scroll-behavior: auto;
}

body {
    background: #111;
    color: #eee;
    font-family: monospace;
}


/* Client side routing styles */
.page {
    display: none;
}

.page:target {
    display: flex;
}

#home {
    display: flex;
}

body:has(.page:target) #home {
    display: block;
}