<StaticTemplate src="templates/base.html">
    <section class="container p-3">
        <h2 class="mv-3">About</h2>
        <p class="mv-3">
            Currently I work as a backend programmer in iGaming but I've got
            many years of experience working on the frontend, creating games in
            Pixi.js authoring gameplay features, shaders/effects and even
            in-house game engines/frameworks.<br />I also program traditional
            games, though not as often as i would like. I take part in Global
            Games Jam each year and publish those games on
            <a href="http://tezza48.itch.io">my itch.io page</a>.<br />Though
            the majority of my recent projects have been in C i've used a number
            of languages in my career/personal projects including C++,
            Typescript, Python, C# and Rust.
        </p>
        <p class="mv-3">
            I'll be super honest here: I'm not a <em>real</em> web developer, I
            avoid HTML and CSS like the plague. This site is statically
            generated in C but i'm pretty sure the HTML and CSS are held
            together by string and bootstrap being pretty OK.
        </p>
    </section>
</StaticTemplate>
