---
layout: default
---
<article class="portfolio h-entry" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<div class="title-section">
			<h1 class="post-title p-name left" itemprop="name headline">{{ page.title | escape }}</h1>
			{%- if page.webgl -%}
				<h1 class="right"><a href="{{page.webgl}}">Play Now</a></h1>
			{%- endif -%}
		</div>
		<br>
		{%- if page.coverimage  -%}
		<div class="cover-image"><img src="{{ page.coverimage | relative_url }}" alt=""></div>
		{%- else -%}
		<div><img src="/img/cat.jpg" alt=""></div>
		{%- endif -%}
		<p class="post-meta">
			{%- if page.author -%}
				• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
			{%- endif -%}
		</p>
		<hr>
	</header>
	<div class="post-content e-content" itemprop="articleBody">
		{{ content }}
	</div>
	{%- if page.youtube -%}
		<br>
		<iframe class="youtube-embed" src="{{ page.youtube }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	{%- endif -%}
	{%- if site.disqus.shortname -%}
		{%- include disqus_comments.html -%}
	{%- endif -%}

	<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
