---
layout: default
---

<meta property="og:url"                   content={{ site.url }} />
<meta property="og:type"                  content={{ post.title }} />
<meta property="og:description"           content={{ post.content | strip_html | truncatewords:20}} />
<meta properyy="og:image"                 content="https://img.youtube.com/vi/Pxzs37qwhcw/sddefault.jpg" />


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="jumbotron">
    <div class="container">
      <h1 class="post-title-main" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

    </div>

</div>


  <div class="post-content container" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
